.menu {
  @include flex(space-between);
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: inherit;
  }
}

.menu__item {
  position: relative;
  flex-grow: 1;

  & > a {
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    @include transition(background);
    text-align: center;
  }
}

.menu__item--current {
  color: $desable_font-color;
}
