.promo {
  position: relative;
  height: auto;
  background-color: $good-4-color;
  background-image: url("../img/promo-bcg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.promo__slider,
.promo__wrapper {
  height: 100%;
}

.promo__slider-pagination.swiper-pagination {
  text-align: left;
  bottom: 62px;
  left: 50%;
  transform: translateX(-50%);
}

.promo__slider-pagination.swiper-pagination .swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  background: $secondary-font-color;
  opacity: 0.6;
  margin-right: 10px;
  margin-left: 0;
}

.promo__slider-pagination.swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: $main-theme-color;
}

.promo__slider-title.title {
  position: relative;
  font-size: 44px;
  margin-bottom: 45px;

  &::before {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 93px;
    height: 3px;
    background-color: $main-theme-color;
  }
}

.promo__wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
  min-height: 620px;
}

.promo__slider-slide p {
  margin: 0;

}
