<header class="page-header">
	<div class="page-header__container container">
		<div class="page-header__top">
			<ul class="page-header__user-menu">
				<li class="page-header__user-item"><a href="#">Вход</a></li>
				<li class="page-header__user-item"><a href="$">Регистрация</a></li>
			</ul>
			<ul class="page-header__social-list">
				<li class="page-header__social-item page-header__social-item--fb"><a href="#" aria-label="Наша страничка в facebook"></a></li>
				<li class="page-header__social-item page-header__social-item--vk"><a href="#" aria-label="Наша страничка во Вконтакте"></a></li>
				<li class="page-header__social-item page-header__social-item--youtube"><a href="#" aria-label="Наш канал на youtube"></a></li>
				<li class="page-header__social-item page-header__social-item--insta"><a href="#" aria-label="Мы в инстаграмме"></a></li>
			</ul>
		</div>
		<div class="page-header__secondary-nav">
			<div class="page-header__company">
				<a class="page-header__logo" href="#" title="Вернуться на главную страницу">
					<picture>
          				<source type="image/webp" media="(max-width: 768px)" srcset="img/logo-mobile@1x.webp 1x, img/logo-mobile@2x.webp 2x">
		            	<source type="image/webp" media="(max-width: 1023px)" srcset="img/logo-tablet@1x.webp 1x, img/logo-tablet@2x.webp 2x">
		            	<source type="image/webp" srcset="img/logo-desktop@1x.webp 1x, img/logo-desktop@2x.webp 2x">
		            	<source media="(max-width: 767px)" srcset="img/logo-mobile@1x.png 1x, img/logo-mobile@2x.png 2x">
		            	<source media="(max-width: 1023px)" srcset="img/logo-tablet@1x.png 1x, img/logo-tablet@2x.png 2x">
		            	<img src="img/logo-desktop@1x.png" alt="Вернуться на главную страницу" width="370" height="620" srcset="mg/logo-desktop@2x.png 2x">
		            </picture>
				</a>
				<div class="page-header__business-line">
					Производитель стоматологической системы имплантов <span></span>
				</div>
			</div>
			<div class="page-header__contacts">
				<a class="page-header__callback btn" href="#">Обратный звонок</a>
				<ul class="page-header__tels-list">
					<li><a href="tel:+78002002020">+7 (800) 200-20-20</a></li>
					<li><a href="tel:+74994994949">+7 (499) 499-49-49</a></li>
				</ul>
			</div>
			<a class="page-header__checkout" href="#">Оформить заявку</a>
		</div>
		<nav class="page-header__nav">
			<ul class="page-header__menu menu">
				<li class="menu__item menu__item--current"><a>Главная</a></li>
				<li class="menu__item">
					<a href="#">О компании</a>
					<ul class="menu__secondary-menu">
						<li><a href="#">О нас</a></li>
						<li><a href="#">Политика качества</a></li>
						<li><a href="#">Сертификаты</a></li>
					</ul>
				</li>
				<li class="menu__item">
					<a href="#">Каталог/линейки</a>
					<ul class="menu__secondary-menu">
						<li><a href="#">ROOTFORM</a></li>
						<li><a href="#">COMPRESSIVE MS</a></li>
						<li><a href="#">BASAL SS</a></li>
					</ul>
				</li>
				<li class="menu__item">
					<a href="#">Специалисту</a>
					<ul class="menu__secondary-menu">
						<li><a href="#">ROOTFORM</a></li>
						<li><a href="#">COMPRESSIVE MS</a></li>
						<li><a href="#">BASAL SS</a></li>
					</ul>
				</li>
				<li class="menu__item">
					<a href="#">Пациенту</a>
					<ul class="menu__secondary-menu">
						<li><a href="#">ROOTFORM</a></li>
						<li><a href="#">COMPRESSIVE MS</a></li>
						<li><a href="#">BASAL SS</a></li>
					</ul>
				</li>
				<li class="menu__item"><a href="#">Контакты</a></li>
			</ul>
		</nav>
		<div class="page-header__line swiper-container">
		    <div class="swiper-wrapper">
			    <div class="swiper-slide"><b>ROOTFORM</b></div>
			    <div class="swiper-slide"><b>COMPRESSIVE MS</b></div>
			    <div class="swiper-slide"><b>COMPRESSIVE M</b></div>
		    	<div class="swiper-slide"><b>COMPRESSIVE MP</b></div>
			    <div class="swiper-slide"><b>COMPRESSIVE</b></div>
			    <div class="swiper-slide"><b>COMPRESSIVE S</b></div>
			    <div class="swiper-slide"><b>BASAL</b></div>
			    <div class="swiper-slide"><b>BASAL SS</b></div>
		    </div>
		</div>
	</div>
</header>