* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  font-family: $main-font;
  min-width: $width-min;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: $main-font-color;
}
