@font-face {
  font-family: "DaxlinePro";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/DaxlinePro-Bold.woff2") format("woff2"),
    url("../fonts/DaxlinePro-Bold.woff") format("woff");
}

@font-face {
  font-family: "DaxlinePro";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/DaxlinePro-Regular.woff2") format("woff2"),
    url("../fonts/DaxlinePro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
}
