//colors

$main-font-color: #323232;
$secondary-font-color: #ffffff;
$font-color-3: #a6a7b1;
$desable_font-color: #faacae;
$main-theme-color: #e33439;
$secondary-theme-color: #c22a2e;
$background-color-1: #f0f0f0;
$background-color-2: #9293a6;
$background-color-3: #ececec;

// media breakpoints

$width-desktop: 1200px;
$width-laptop: 960px;
$width-tablet: 768px;
$width-min: 320px;

// Retina 2x

$retina-dpi: 192dpi;
$retina-dppx: 2dppx;

// font

$main-font: "DaxlinePro", "Arial", sans-serif;
$secondary-font: "Roboto", "Arial", sans-serif;
